---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero";
import Services from "../components/Services";
import Area from "../components/Area";
---

<Layout title="Sylwester Karolak - komornik przy sądzie rejonowym w Płocku">
	<main>
		<Hero />
		<Services />
		<Area />
	</main>
</Layout>
