---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero";
import Services from "../components/Services";
import Area from "../components/Area";
import Logos from "../components/Logos";
import About from "../components/About";
import Faq from "../components/Faq";
import Footer from "../components/Footer";
---

<Layout title="Sylwester Karolak - komornik przy sądzie rejonowym w Płocku">
	<main>
		<Hero client:idle />
		<Services />
		<Area />
		<Logos client:idle />
		<About client:load />
		<Faq client:idle />
		<Footer client:idle />
	</main>
</Layout>
