---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact";
import Footer from "../components/Footer";
---

<Layout title="Sylwester Karolak - komornik przy Sądzie Rejonowym w Płocku">
	<main>
		<Contact client:idle />
	</main>
	<Footer client:idle />
</Layout>
